.App {
  text-align: center;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.header h1 {
  margin: 0;
  color:  #8016d6;
}

.header ul {
  margin-left: 0;
  padding: 0;
  display: flex;
}

.header ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.header ul li a {
  text-decoration: none;
  color:  #8016d6;
}

.header ul li a:hover {
color: #dfdfdf;
transition: .2s;
}


/* FOOTER */

.footer {
  margin-top: 58vh;
}