.App {
  text-align: center;
}

/* HEADER */
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.header h1 {
  background-color: black;
  margin: 0;
  color:  #8016d6;
}

.header ul {
  margin-left: 0;
  padding: 0;
  display: flex;
}

.header ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.header ul li a {
  text-decoration: none;
  color:  #8016d6;
}

.header ul li a:hover {
color: #dfdfdf;
transition: .2s;
}


/* FOOTER */

.footer {
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.5rem;
}

.footer a {
  color: white;
}

html {
  background:url(../src/assets/gaqss5hgbny81.png)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .meIMG{
  height: 400px;
  width: 400px;
  border-radius: 45%;
  margin-left: auto;
  }

  .card-body {
    font-size: large;
    background-color: black;
}

.card-title {
  font-size: large;
    background-color: black;
    color: white;
}

.card-text {
    background-color: black;
    color:white;
}

.passwordGeneratorImg {
  width: 80%;
  margin-left: atuo;
  background-color: black;
}

.portfolio-img-container {
  margin: 20px;
}

.caption {
  color:#8016d6;
  margin-left: 12%;
}

.caption2{
  color:#8016d6;
  margin-left: 8%;
}

.portfolioPgContainer {
  display: flex;
  margin-top: 20px;
}


.weatherImg {
  width: 85%;
  margin-left: atuo;
  margin-top: 10px;
}

.project-code-btn {
  display: flex;
  justify-content: center;
  margin-left: 12%;
}

.project-code-btn2 {
  display: flex;
  justify-content: center;
  margin-left: 8%;
}